# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.manifest
*.spec

# Virtualenv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static/
local_settings.py

# VSCode / IDE
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
